body {
    background: red;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    height: 70%;
    width: 70%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    
    
}

.parent > div {
    width: 100px;
    height: 100px;
    background-color: hotpink;
    margin: 10px;
}

.parent > div:nth-child(1){
    align-self: center;


}
.parent > div:nth-child(2){
    align-self: flex-end;
    flex: 8;

}
.parent > div:nth-child(3){
    align-self: center;
    flex: 2;

}
.parent > div:nth-child(4){
    flex: 1;

}